.content__wrapper {
  width: 100vw;
  height: 100vh;
  color: var(--text-color);

  .content {
    margin-left: 28px;
    margin-top: 44px;

    .content__table {
      display: flex;
      align-items: center;
      gap: 100px;

      .table__head--item {
        font-weight: bold;
        font-size: 16px;
      }
    }

    .articles__container {
      border-collapse: separate;
      border-spacing: 0em 8px;

      thead {
        th {
          border-bottom: 1px solid #e2e8f0;
          height: 50px;
          width: 25%;
          font-size: 16px;
        }
      }

      .article__rows {
        background-color: #f7fafc;
        height: 100px;
        margin-bottom: 8px;
        text-align: center;

        .article__title {
          font-weight: bold;
          font-size: 18px;
        }
        .article__duedate--wrapper {
          .article__duedate {
            margin: auto;
            width: 50%;
            border: 1px solid red;
            box-sizing: border-box;
            border-radius: 50px;
            color: red;
            padding: 7px 0px;
            &__green {
              background: #1dff09;
              color: white;
              border: none;
            }
            &__red {
              background: red;
              color: white;
              border: none;
            }
          }
        }
      }
    }
  }

  .users__container {
    font-size: 16px;
    display: flex;
    flex-direction: column;

    .users__table {
      width: 90%;
      border-spacing: 0px 30px;
      margin: auto;

      tr {
        background-color: #f7fafc;
        height: 100px;
      }
    }

    .users__button {
      border-radius: 5px;
      background-color: var(--text-color);
      color: white;
      padding: 10px 40px;
      font-size: 16px;
      align-self: flex-end;
      margin-right: 5%;
    }

    .users__labels {
      font-weight: bold;
      padding-left: 100px;
    }

    .users__blue-round-boxes {
      border-radius: 50px;
      background-color: var(--text-color);
      padding: 5px 30px;
      width: 30%;
      color: white;
      text-align: center;
      margin: auto;
    }

    .users__center-align {
      text-align: center;
    }
  }
}
