.content__wrapper {
  width: 100vw;
  height: 100vh;
  color: var(--text-color);

  .content {
    margin-left: 28px;
    margin-top: 44px;

    .content__table {
      display: flex;
      align-items: center;
      gap: 100px;

      .table__head--item {
        font-weight: bold;
        font-size: 16px;
      }
    }

    .articles__container {
      border-collapse: separate;
      border-spacing: 0em 8px;

      thead {
        th{
          border-bottom: 1px solid #E2E8F0;
          height: 50px;
          width: 25%;
          font-size: 16px;
        }
      }

      .article__rows {
        background-color: #f7fafc;
        height: 100px;
        margin-bottom: 8px;
        text-align: center;


        .article__title {
          font-weight: bold;
          font-size: 18px;
        }
        .article__duedate--wrapper {
          .article__duedate {
            margin: auto;
            width: 50%;
            border: 1px solid red;
            box-sizing: border-box;
            border-radius: 50px;
            color: red;
            padding: 7px 0px;
            &__green {
              background: #1dff09;
              color: white;
              border: none;
            }
            &__red {
              background: red;
              color: white;
              border: none;
            }
          }
        }
      }
    }
  }
}
