.header__container {
  z-index: 0;

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #2d3748;

    .header__logo {
      max-width: 400px;
      max-height: 150px;
    }

    .header__logo a {
      display: flex;
      align-items: center;
    }

    .header__logo img {
      width: 100%;
    }

    .header__left {
      display: flex;
      align-items: center;
      margin: 5px 45px;
      padding: 0 15px;

      .header__left__name {
        font-size: 20px;
        line-height: 23px;
        color: #ffffff;
        padding: 5px;

        .header__name-span {
          color: var(--blue-title);
        }
      }
    }

    .header__right {
      .header__right__account {
        max-width: 50px;
        max-height: 50px;
        padding: 11px 35px;

        .header__logout {
          position: absolute;
          background-color: white;
          right: 3%;
          top: 7%;
          padding: 10px;
          color: var(--text-color);
          box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
          text-align: center;
          display: none;
        }
      }

      .header__right__account:hover {
        .header__logout {
          cursor: pointer;
          display: flex;
          gap: 10px;
          align-items: center;
        }
      }
      .header__right__account img {
        max-width: 50px;
        max-height: 50px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}
