$blue-title: #63b3ed;

.login__container {
  background-color: #f7fafc;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login__form--wrapper {
    margin: auto 0;
  }
  .login__heading {
    text-align-last: center;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 39px;
  }
  .login__heading span {
    color: $blue-title;
  }

  .login__form {
    background-color: #fff;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    margin: 0 auto;

    .login__username,
    .login__password {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      .login__label {
        display: flex;
        gap: 15px;
        align-items: center;
        height: 23px;
        left: 540px;
        top: 226px;
        font-size: 18px;
        margin-bottom: 15px;
      }
      .login__input {
        padding: 8px;
        margin-bottom: 15px;
        width: 300px;
      }

      input {
        background-color: #edf2f7;
        border: none;
        height: 30px;
        border-radius: 5px;
      }
    }

    .login__signin {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 13px;

      .login__btn-signin {
        width: 87px;
        height: 37px;
        background: #2a4365;
        border-radius: 5px;
        color: white;
      }
    }
  }
}
